:root {
    --purple: #F8C8DC;
    --font-fanily: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --margin: 10px;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}

body {
    margin: var(--margin);
    height: 100%;
}

header {
    background-color: black;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.page-title {
    font-family: var(--font-fanily);
    color: var(--purple);
    font-size: 30px;
    position: relative;
    left: 50px;
    overflow: hidden;
    text-transform: uppercase;
}

.navbar {
    position: relative;
    margin-right: 30px;
    font-family: var(--font-fanily);
    color: var(--purple);
    display: block;
    padding: 25px, 20px;
    text-transform: uppercase;
}

.navbar {
    float: right;
    font-size: 30px;
}

.navbar ul li {
    display: inline-block;
    margin-left: 25px;
}

li a:hover:not(.active) {
    background-color: var(--purple);
    color: #fff;
}

.cover-image {
    height: 550px;
    width: 100%;
    background-image: url(../images/cover-image-1.jpeg);
    background-size: cover;
    background-position: center;
}

p {
    font-family: var(--font-fanily);
    font-size: 25px;
    padding-left: 2%;
}

.about-me,
.contact-me{
    padding: 70px;
    font-size: 30px;
    font-family: var(--font-fanily);
    color: var(--purple);
}

.work {
    padding: 70px;
    font-size: 30px;
    font-family: var(--font-fanily);
    color: var(--purple);
    display: flex;
}

.about-me h2,
.work h2,
.contact-me h2 {
    border-right: 9px solid var(--purple);
    padding-right: 2%;
    height: 300px;
    align-self: center;
}

.wrapper {
    width: 85vw;
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
}

.work-image,
.content {
    text-align: center;
}

img,
.content {
    transition: 0.7s all;
    border-radius: 3px;
}

.work-image {
    position: relative;
    margin: 0.5%;
    max-width: 31%;
    float: left;

}

.work-image img {
    width: 100%;
    margin-bottom: -4px;
}

.work-image .content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    opacity: 0;
}

.work-image .content h2 {
    padding-top: 35%;
    font-family: var(--font-fanily);
    font-size: 40px;

}

.work-image:hover .content {
    opacity: 1;
}

.work-image:hover img {
    -webkit-filter: blur(5px);
    filter: blur(5px);

}

.contact-me {
    position: relative;
    margin-right: 30px;
    font-family: var(--font-fanily);
    color: var(--purple);
    display: inline-block;
    padding: 25px, 20px;
    text-transform: uppercase;
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
}

.contact-me ul li {
    display: inline-block;
    margin-left: 25px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: var(--font-fanily);
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}

@media screen and (max-width: 1400px){
    .work-image {
        max-width: 48%;
        margin: 1%;
    }
}

@media screen and (max-width: 600px) {
    .work-image {
        float: none;
        max-width: 80%;
        margin: 1% auto;
    }
    .contact-me h2 {
        display: none;
    }

    .about-me h2 {
        display: none;
    }

    .work {
        display: none;
    }
}